<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/71ec21e2-035f-4e59-b16f-fbcc69e8de32/resourcegroups/LocalDBExample20170630045630ResourceGroup/providers/Microsoft.Web/sites/LocalDBExample20170630045630</ResourceId>
    <ResourceGroup>LocalDBExample20170630045630ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localdbexample20170630045630.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localdbexample20170630045630.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LocalDBExample20170630045630</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LocalDBExample20170630045630</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ACMEEntities" Order="1" Enabled="True">
          <Destination Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Peter\OneDrive\Documents\personal\techAcademy\projects_C#\webApp\LocalDBExample\LocalDBExample\App_Data\ACME.mdf;Integrated Security=True;Connect Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ACME.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ACMEEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ACMEEntities.csdl|res://*/ACMEEntities.ssdl|res://*/ACMEEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ACME.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ACMEEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ACMEEntities.csdl|res://*/ACMEEntities.ssdl|res://*/ACMEEntities.msl;provider=System.Data.SqlClient;provider connection string="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Peter\OneDrive\Documents\personal\techAcademy\projects_C#\webApp\LocalDBExample\LocalDBExample\App_Data\ACME.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ACMEEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ACMEEntities.csdl|res://*/ACMEEntities.ssdl|res://*/ACMEEntities.msl;provider=System.Data.SqlClient;provider connection string="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Peter\OneDrive\Documents\personal\techAcademy\projects_C#\webApp\LocalDBExample\LocalDBExample\App_Data\ACME.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ACMEEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ACMEEntities.csdl|res://*/ACMEEntities.ssdl|res://*/ACMEEntities.msl;provider=System.Data.SqlClient;provider connection string="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Peter\OneDrive\Documents\personal\techAcademy\projects_C#\webApp\LocalDBExample\LocalDBExample\App_Data\ACME.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>